<!DOCTYPE HTML>

<html>
<head>
    <title>Kartsev Dmitry Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <span class="avatar"><img src="images/myPhoto.jpg" alt=""/></span>
        <h1><strong>Дмитрий Карцев.</strong> Высокомотивированный и <br/>полный энтузиазма java-разработчик.<br/>
            </h1>
        <ul class="icons">
            <li><a href="https://t.me/dk_mario" class="icon style2 fa-telegram"><span class="label">Telegram</span></a>
            </li>
            <li><a href="https://github.com/dk-mario" class="icon style2 fa-github"><span
                    class="label">Github</span></a></li>
            <li><a href="https://bitbucket.org/dmitry_kartsev/home-assignments/src/develop/"
                   class="icon style2 fa-bitbucket"><span class="label">Bitbucket</span></a></li>
            <li><a href="mailto:dk-mario@yandex.ru" class="icon style2 fa-envelope-o"><span
                    class="label">Email</span></a></li>
            <li><a href="https://disk.yandex.ru/i/eEvwEyaXtAIBOw" class="icon style2 fa-download"><span class="label">Download</span></a>
            </li>
        </ul>
    </header>

    <!-- Footer -->
    <footer id="footer">
        <p> <i class="fa fa-server" aria-hidden="true"></i> &copy; 2023 HandMade Inc. All rights reserved.</p>
    </footer>

</div>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.poptrox.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>